//
//  Release.xcconfig
//  CustomConfigurationSample
//
//  Created by Yutaka Tajika on 2022/11/29.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = $(BASE_PRODUCT_BUNDLE_IDENTIFIER)
PRODUCT_NAME = $(BASE_PRODUCT_NAME)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = RELEASE
